<div style="padding-left: 8rem">
  <mat-toolbar
    style="background: #E3F2FD; margin-top: 1.5rem; padding-right: 4rem"
  >
    <div></div>
    <img
      src="../../assets/images/logo.png"
      style="height: 50px; width: 50px"
    />
    <span
      style="
        font-family: GTWalsheimProBlack !important;
        font-weight: bold;
        font-size: 30px;
        color: #000000;
        padding-left: 0.5rem;
      "
      >Doc</span
    >
    <span
      style="
        font-family: GTWalsheimProBlack !important;
        font-weight: bold;
        font-size: 30px;
        color: #015378;
      "
      >Dash</span
    >
    <span class="example-spacer"></span>
    <button mat-raised-button class="header-text" style="margin-right: 1rem">
      <span class="fontb"> Home </span>
    </button>
    <button mat-raised-button class="header-text" style="margin-right: 1rem">
      <span class="fontb"> About Us </span>
    </button>
    <button mat-raised-button class="header-text" style="margin-right: 1rem">
      <span class="fontb"> Contact Us </span>
    </button>
    <button
      style="margin-right: 5rem; box-shadow: none; background-color: #015378"
      mat-raised-button
    >
      <a style="text-decoration: none" [routerLink]="['/register']">
        <span style="color: white; font-size: 16px;" class="fontb"> Login / Signup </span>
      </a>
    </button>
  </mat-toolbar>
</div>

<mat-grid-list style="margin-top: 5rem" cols="5" rowHeight="3:5">
  <mat-grid-tile [colspan]="3">
    <div style="position: absolute; padding-bottom: 9rem">
      <span class="fontB" style="font-size: 40px; padding-bottom: 10rem">
        YOUR 
      </span>
      <span
        class="fontB"
        style="font-size: 40px; padding-bottom: 10rem; color: #015378"
      >
      HEALTH 
      </span>
      <span class="fontB" style="font-size: 40px; padding-bottom: 10rem">
        MATTERS TO US
       <br /><br />
      </span>
    </div>
    <div style="position: absolute">
      <p style="font-size: 20px; font-weight: bold">
        Convenient online booking with top-rated specialists<br /><br /><br /><br />
      </p>
    </div>
    <div style="position: absolute; padding-top: 17rem">
      <div class="buttons">
        <button class="blob-btn" (click)="onBook()">
          <span
            style="font-size: 30px; font-family: GTWalsheimProBold !important"
            >Book</span
          >
          <span class="blob-btn__inner">
            <span class="blob-btn__blobs">
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
            </span>
          </span>
        </button>
        <br />

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
          <defs>
            <filter id="goo">
              <feGaussianBlur
                in="SourceGraphic"
                result="blur"
                stdDeviation="10"
              ></feGaussianBlur>
              <feColorMatrix
                in="blur"
                mode="matrix"
                values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                result="goo"
              ></feColorMatrix>
              <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
            </filter>
          </defs>
        </svg>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <div
      style="justify-content: center"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-easing="ease-in-sine"
    >
      <img
        style="width: 500px; height: 500px; margin-right: 3rem"
        src="../../assets/gifs/FIRST CHOICE.svg"
      />
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="5" style="margin-top: 2rem">
  <mat-grid-tile
    colspan="1"
    rowspan="1"
    style="margin-top: 17rem; margin-left: 17rem; margin-right: 17rem"
  >
    <div
      style="justify-content: center"
      data-aos="zoom-in"
      data-aos-duration="500"
      data-aos-easing="ease-in-sine"
    >
    <div style="display: inline;">
      <img style="display: block;padding-left: 4.5rem;" src="../../assets/images/AI.png" />
      <h1 style="margin-top: 2rem;font-weight: bold;">Smart AI Diagnose System</h1>
    </div>
      </div>
  </mat-grid-tile>

  <mat-grid-tile
    colspan="1"
    rowspan="1"
    style="margin-top: 17rem; margin-left: 17rem; margin-right: 17rem"
  >
    <div
      style="justify-content: center"
      data-aos="zoom-in"
      data-aos-duration="500"
      data-aos-easing="ease-in-sine"
    >
      <div style="display: inline;">
        <img style="display: block;padding-left: 4.5rem;" src="../../assets/images/appointment.png" />
        <h1 style="margin-top: 2rem;font-weight: bold;">Online & Fast Appointment</h1>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile
    colspan="1"
    rowspan="1"
    style="margin-top: 17rem; margin-left: 17rem; margin-right: 17rem"
  >
    <div
      style="justify-content: center"
      data-aos="zoom-in"
      data-aos-duration="500"
      data-aos-easing="ease-in-sine"
    >
    <div style="display: inline;">
      <img style="display: block;padding-left: 3.5rem;" src="../../assets/images/chat.png" />
      <h1 style="margin-top: 2rem;font-weight: bold;">Online chat with doctors</h1>
    </div>
      </div>
  </mat-grid-tile>
</mat-grid-list>

  <mat-grid-list cols="4">
    <mat-grid-tile [colspan]="4">

      <div
        style="justify-content: center;"
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-easing="ease-in-sine"
      >
        <img
          src="../../assets/gifs/undraw_medical_care_movn.svg"
        />
      </div>
    </mat-grid-tile>
  </mat-grid-list>


