<!-- About Section -->
<section id="about" class="section about">
    <div class="about-content">
        <h2>About Us</h2>
        <p>
            At Doctor Online Appointment System, we aim to revolutionize the way you access healthcare.
            Our platform connects patients with trusted doctors, providing a seamless and efficient appointment booking experience.
            Whether it’s for routine check-ups or specialized consultations, we ensure that quality care is just a click away.
  
            Founded with a vision to enhance healthcare accessibility, we prioritize your convenience and well-being.
            Our team is dedicated to leveraging technology to simplify the patient-doctor interaction.
            From appointment scheduling to reminders, we streamline every step of the process.
            With us, you save time and gain peace of mind knowing that your healthcare needs are in good hands.
        </p>
    </div>
    <div class="about-image">
        <img src="assets/images/about-images.jpg" alt="About Us">
    </div>
  </section>
  
